__pycache__/
*.pyc
.venv/
.env
.pytest_cache/
.ipynb_checkpoints/

artifacts/models/*
artifacts/metrics/*
artifacts/reports/*

data/raw/*
data/interim/*
data/processed/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!artifacts/models/.gitkeep
!artifacts/metrics/.gitkeep
!artifacts/reports/.gitkeep